[submodule "nlog"]
	path = nlog
	url = http://github.com/Vigil-Network-Security-Software-Suite/nlog
[submodule "tpcap"]
	path = tpcap
	url = http://github.com/Vigil-Network-Security-Software-Suite/tpcap
[submodule "vigil"]
	path = vigil
	url = http://github.com/Vigil-Network-Security-Software-Suite/vigil
[submodule "libvigil"]
	path = libvigil
	url = http://github.com/Vigil-Network-Security-Software-Suite/libvigil
[submodule "ipc-router"]
	path = ipc-router
	url = https://github.com/Vigil-Network-Security-Software-Suite/ipc-router
